*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Outfit",Arial, Helvetica, sans-serif;
}


/* Default: show it everywhere */
.hide-on-mobile {
  display: block !important;
}

/* Hide it on mobile (screen width less than 768px) */
@media (max-width: 767px) {
  .hide-on-mobile {
    display: none !important;
  }
}


